.itemPage {
  padding-top: 10vh;
  padding-bottom: 30vh;
  padding-left: calc(96px + env(safe-area-inset-left));
  padding-right: calc(96px + env(safe-area-inset-right));
}

.itemTextWrapper {
  min-height: 87px;
  padding: 34px 16px 32px 32px;
  margin: 0;
  box-sizing: border-box;

  background-color: #f7f6f3;

  overflow-x: auto;
}

.colorText {
  color: #07a;
}
